@font-face {
	font-family: 'hello';
	src: url('../../assets/fonts/hello.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('~@fontsource/montserrat');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppins';
	src: url('~@fontsource/poppins');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'provicali';
	src: url('../../assets/fonts/provicali.woff') format('woff'),
		 url('../../assets/fonts/provicali.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
